* {
    box-sizing: border-box;
    /* border: none; */
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    transition: 0.5s;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--primary);
    color: var(--dark);
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --primary: #0e212e;
    --success: #3FA9F5;
    --color: #2c3e50;
    --dark: white;
    --successT: #3FA9F5;
    --mode: #2c3e50;
}

.light {
    --primary: rgba(255, 255, 255, 0.911);
    --succes: #3FA9F5;
    --color: #2c3e50;
    --dark: #2c3e50;
    --successT: #0e212e;
    --mode: white;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--primary);
    padding: 10px;
    transition: 0.5s;
    background-color: var(--success);
    position:fixed;
    width: 100%;
    z-index: 1000;
}

header a {
    color: #2c3e50;
   border-radius: 10px 15px 10px 15px;
   padding: 5px;

}
header:hover {
    border-bottom: 6px solid var(--success);
}
.liste-nav-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
}

.liste-nav-header a:hover {
    font-size: 20px;
    font-weight: bold;
    background-color: #2c3e50;
    color: #3FA9F5;
}

header button {
    border: none;
    background-color: #fff;
    border-radius: 10px 15px 10px 15px;
    padding: 5px;
    font-weight: bold;
    font-size: large;
    margin-left: 5px;
    transition: 0.5s;
    cursor: pointer;
}

header button:hover {
    background-color: rgb(20, 133, 20);
}
header button a:hover {
    color: #fff;
}

.whatsapp {
    color: rgb(20, 133, 20);
}
.tel {
    color: #3FA9F5;
}

#mode {
    background-color: var(--dark);
    color: var(--mode);
}

.sect-1 {
    position: absolute;
    top: 60px;
    z-index: 1;
}
.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    font-size: 30px;
}

.hero > * {
    width: 45%;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero img:hover {
    background-image: url("img/GAMING\ ZONE.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--succes);
}

.jeux {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}
.jeux > div{
    /* border: 1px solid var(--successT); */
    border-radius: 5px;
    width: 30%;
    height: 250px;
}

.jeux img {
    border-radius: 30px;
}
.jeux > div > div {
    width: 100%;
    height: 90%;
}

.titleJeux {
    margin-bottom: 5px;
}
.cardJeux p {
    display: inline-block;
    width: 30%;
    margin-left: 35%;
    text-align: center;
    /* background-color: #3FA9F5; */
    font-weight: bold;
    border-radius: 30px 60px 30px 60px;
    height: 10%;
    font-size: 20px;
}

.jeux img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

thead tr th{
    background-color: var(--successT);
    color: white;
}

/* tbody tr:nth-child(even) {
    background-color: #f2f2f2;
} */

tbody tr:hover {
    background-color: #e6f2ff;
    color: var(--color);
}

/* form {
    border: 1px solid #2c3e50;
} */

.infoForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 50px;
}

.infoForm h2 {
    font-size: 20px;
    background-color: var(--succesT);
    border: none;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: var(--mode);
    text-align: center;
}


.info {
    width: 70%;
    margin: 10px;
    padding: 10px;
}

form {
    width: 29%;
    margin: 10px;
    padding: 10px;
    background-color: var(--successT);
    color: var(--mode);
    border-radius: 30px;
}
.form input,select {
    width: 100%;
    border: none;
    height: 40px;
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

form select:focus {
    outline: none;
}

form label {
font-weight: bold;
}

.reserver {
    text-align: center;
    background-color: var(--dark);
    cursor: pointer;
    margin-left: 25%;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px 60px 30px 60px;
    width: 50%;
    color: var(--mode);
    font-weight: bold;
    font-size: 15px;   
}
.reserver:hover {
    background-color: var(--mode);
    color: var(--dark);
}

.more-game {
    text-align: center;
    background-color: #3FA9F5;
    cursor: pointer;
    margin-left: 25%;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px 60px 30px 60px;
    width: 50%;
    color: var(--mode);
    font-weight: bold;
    font-size: 15px;
}
.start {
    text-align: center;
    background-color: #3FA9F5;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px 60px 30px 60px;
    color: var(--mode);
    font-weight: bold;
    font-size: 15px;
}
.material {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}
.material > div{
    /* border: 1px solid var(--succesT); */
    border-radius: 5px;
    width: 30%;
    height: 250px;
}

.material img {
    border-radius: 30px;
}
.material > div > div {
    width: 100%;
    height: 90%;
}

.titlematerial {
    margin-bottom: 5px;
}
.cardmaterial p {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    /* background-color: #3FA9F5; */
    font-weight: bold;
    border-radius: 30px 60px 30px 60px;
    height: 10%;
    font-size: 20px;
}

.material img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.more-material {
    text-align: center;
    background-color: #3FA9F5;
    cursor: pointer;
    margin-left: 25%;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px 60px 30px 60px;
    width: 50%;
    color: var(--mode);
    font-weight: bold;
    font-size: 15px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(1, 22, 22);
    color: var(--dark);
    text-align: center;
}
.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;    
    margin-bottom: 10px;
}
.footer-links div a {
    margin: 0 10px;
    color: var(--dark);
}
.footer-links a:hover {
    color: #3FA9F5;
}
.footer-links hr {
    border: 1px solid var(--dark);
    width: 2px;
    height: 50px;
}
.nav-footer a, .contact-footer a {
    display: block;
    margin: 5px 0;
}
.nav-footer a:hover, .contact-footer a:hover {
    font-weight: bold;
    color: #3FA9F5;
}
footer .whatsapp {
    color: rgb(20, 133, 20);
}
footer .tel {
    color: #3FA9F5;
}
footer .whatsapp:hover {
    color: #25D366;
}
footer .tel:hover {
    color: #0b78e3;
}


/* Responsive Design */
@media (min-width: 350px) and (max-width: 450px) {
    header {
        width: 100%;
        
    }
    .hero {
        flex-direction: column;
    }
    .hero > * {
        width: 100%;
    }
    .jeux, .material {
        flex-direction: column;
    }
    .jeux > div, .material > div {
        width: 100%;
    }
    .infoForm {
        flex-direction: column;
    }
    .info, form {
        width: 100%;
    }

}   